/* VARIABLES */

:root{
  --color-primario:#2721EF;
  --color-secundario:#C468ED;
  --color-auxiliar:#688EED;
  --color-hover:#9868ED;
  --color-footer:#68B8ED;
  --color-action:#6D68ED;
  --color-fuente1:#000000;
  --color-fuente2:#FFFFFF;
}

#root{
  width: 100%;
}

*{
  font-family: 'TypeMachine',Arial;
}

@font-face {
  font-family: 'TypeMachine';
  src: url(./assets/fonts/TypeMachine.ttf);
}

.nav-horizontal {
  display: flex; /* Alinea los elementos en fila */
  list-style: none; /* Quita los puntos de la lista */
  gap: 20px; /* Espacio entre cada enlace */
  padding: 0;
  align-items: center;
}
.nav-horizontal li {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  padding:5px;
  background-color: var(--color-auxiliar);
  border-radius: 10px;
  
}

.nav-horizontal a {
  text-decoration: none;
  color: var(--color-fuente2);
  padding: 10px 15px;
  transition: background 0.3s;
}
.nav-horizontal li:hover {
  background-color: var(--color-hover); /* Efecto al pasar el cursor */
}
.nav-horizontal a:hover{
  color:var(--color-fuente1);
}

nav{
  min-width: 100%;
  background-color:var(--color-secundario);
  border:1px solid black;
  
}


header{
  background-color:var(--color-action);
  color:var(--color-fuente2);
  width: 100%;
  display:inline-flex;
}
header h1{
  margin-top:25px;
  text-align: center;
}
header img{
  margin:10px;

}

main{
  display: flex;
  background-color: var(--color-primario);
  color:var(--color-fuente2)
}

#text-landing{
  flex:1 auto;
  height: 50%;
  width:50%;
  border:1px solid black;
}

#imagen-landing{
  flex:1 auto;
  width: 50%;
  height: 50%;
  border:1px solid black;
}

footer{
  width: 100%;
  display:flex;
  margin-top:10px;
  background-color: var(--color-footer);
}
#asoc{
  flex:1;
}

#redes{
  text-align: right;
}