.carta-foto {
    width: calc(33.33% - 14px); /* 3 por fila */
    background-color: white;
    border: 2px solid var(--color-auxiliar);
    border-radius: 12px;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
  
    transition: all 0.3s ease;
  }
  
  /* Hover */
  .carta-foto:hover {
    transform: scale(1.03);
    border-color: var(--color-primario);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Imagen */
  .carta-foto img {
    width: 100%;
    height: 400px;
    object-fit: contain-;
    background-color: #eee;
  }
  
  /* Texto */
  .carta-foto p {
    margin: 0;
    padding: 12px;
    text-align: center;
    font-weight: bold;
  
    color: var(--color-fuente1);
    background-color: var(--color-footer);
  }

  /* Tablet */
@media (max-width: 992px) {
    .carta-foto {
      width: calc(50% - 10px); /* 2 por fila */
    }
  }
  
  /* Móvil */
  @media (max-width: 600px) {
    .carta-foto {
      width: 100%; /* 1 por fila */
    }
  }