#legal-contenedor{
    width: 50%;
    background-color: var(--color-auxiliar);
    color:var(--color-fuente2);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--color-hover);
    transition: all 0.3s ease;
    margin:0 auto;
    font-size: large;
    margin-bottom: 5%;
}

#legal-contenedor:hover{
    background-color: var(--color-hover);
}