/* Contenedor principal */
#contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    min-height: 70vh;
  }
  
  /* Formulario */
  #login {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid var(--color-auxiliar);
  
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    width: 300px;
  
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }
  
  /* Título */
  h1 {
    text-align: center;
    color: var(--color-fuente1);
    margin-top: 20px;
  }
  
  /* Labels */
  #login label {
    font-weight: bold;
    color: var(--color-fuente1);
  }
  
  /* Inputs */
  #login input[type="text"],
  #login input[type="password"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-auxiliar);
    outline: none;
  
    transition: border 0.3s;
  }
  
  /* Focus */
  #login input[type="text"]:focus,
  #login input[type="password"]:focus {
    border: 1px solid var(--color-primario);
  }

  #login input[type="text"]:not(:placeholder-shown),
  #login input[type="password"]:not(:placeholder-shown){
    border-color: var(--color-secundario);
  }
  
  /* Botón login */
  #login input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 8px;
  
    background-color: var(--color-primario);
    color: var(--color-fuente2);
    font-weight: bold;
    cursor: pointer;
  
    transition: background-color 0.3s;
  }
  
  #login input[type="submit"]:hover {
    background-color: var(--color-hover);
  }

  #login input[type="submit"]:active{
    background-color: var(--color-action);
  }
  
  /* Botón reset */
  #login input[type="reset"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-auxiliar);
    background-color: white;
    cursor: pointer;
  }
  
  
  /* Link registro */
  #contenedor-login a {
    margin-top: 15px;
    color: var(--color-fuente1);
    text-decoration: none;
    font-weight: bold;
  }
  
  #contenedor-login a:hover {
    color: var(--color-primario);
  }