/* Contenedor general */
.contenedor-principal {
padding: 30px;
}

/* Texto principal arriba */
.texto {
background-color: var(--color-auxiliar);
padding: 20px;
border-radius: 12px;
margin-bottom: 30px;
line-height: 1.6;
color: var(--color-fuente2);
border: 2px solid var(--color-hover);
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease;
}

.texto:hover{
    background-color: var(--color-action);
}

/* Sección inferior en dos columnas */
.seccion-inferior {
display: flex;
gap: 30px;
align-items: flex-start;
}

/* IZQUIERDA (misión/visión) */
.contenedor1 {
width: 60%;
display: flex;
flex-direction: column;
gap: 20px;
}

.contenedor-superior {
    display: flex;
    gap: 20px;
}

/* Bloques internos */
.contenedor-izquierda,
.contenedor-derecha {
width: 50%;
background-color: var(--color-auxiliar);
color:var(--color-fuente2);
padding: 20px;
border-radius: 12px;
border: 2px solid var(--color-hover);
transition: all 0.3s ease;
}

.contenedor-izquierda:hover,.contenedor-derecha:hover{
    background-color: var(--color-hover);
}

/* DERECHA (hazte socio) */
.texto-socio {
width: 40%;
background-color: var(--color-auxiliar);
color:var(--color-fuente2);
padding: 20px;
border-radius: 12px;
border: 2px solid var(--color-hover);
transition: all 0.3s ease;
}

.texto-socio:hover{
    background-color: var(--color-hover);
}

/* Títulos */
h1 {
text-align: center;
color: var(--color-fuente1);
margin-bottom: 20px;
}

h3 {
color: var(--color-primario);
}

/* Lista valores */
.contenedor-inferior {
    width: 100%;
    background-color: var(--color-auxiliar);
    color:var(--color-fuente2);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--color-hover);
}

.contenedor-inferior:hover{
    background-color: var(--color-hover);
}

.contenedor-inferior ul {
padding-left: 20px;
}

.contenedor-inferior li {
margin-bottom: 10px;
}

/* Link */
.texto-socio a {
display: inline-block;
margin-top: 10px;
color: var(--color-fuente1);
font-weight: bold;
text-decoration: none;
}

.texto-socio a:hover {
color: var(--color-primario);
}

@media (max-width: 768px) {
.seccion-inferior {
    flex-direction: column;
}

.contenedor1,
.texto-socio {
    width: 100%;
}
}