/* Contenedor principal */
#contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
  }
  
  /* Formulario */
  #login {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid var(--color-auxiliar);
  
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    width: 450px; 
  
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }
  
  /* Título */
  h1 {
    text-align: center;
    color: var(--color-fuente1);
    margin-bottom: 20px;
  }
  
  /* Grupo label + input */
  .form-group {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  /* Label alineado */
  .form-group label {
    width: 140px;          
    text-align: right;
    font-weight: bold;
    color: var(--color-fuente1);
  }
  
  /* Input */
  .form-group input {
    flex: 1;
    min-width: 0;
  
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-auxiliar);
    outline: none;
  
    transition: all 0.3s;
  }
  
  /* Focus */
  .form-group input:focus {
    border: 1px solid var(--color-primario);
    box-shadow: 0 0 5px rgba(39, 33, 239, 0.3); 
  }
  
  /* Input con contenido */
  .form-group input:not(:placeholder-shown) {
    border-color: var(--color-secundario);
  }
  
  /* BOTONES */
  .botones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  /* Botones mismo tamaño */
  .botones input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Botón login */
  #login input[type="submit"] {
    border: none;
    background-color: var(--color-primario);
    color: var(--color-fuente2);
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  #login input[type="submit"]:hover {
    background-color: var(--color-hover);
  }
  
  #login input[type="submit"]:active {
    background-color: var(--color-action);
  }
  
  /* Botón reset */
  #login input[type="reset"] {
    border: 1px solid var(--color-auxiliar);
    background-color: white;
  }
  

  
  /* Link registro */
  #contenedor-login a {
    margin-top: 15px;
    color: var(--color-fuente1);
    text-decoration: none;
    font-weight: bold;
  }
  
  #contenedor-login a:hover {
    color: var(--color-primario);
  }
  
  /* RESPONSIVE */
  @media (max-width: 500px) {
    #login {
      width: 100%;
    }
  
    .form-group {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .form-group label {
      width: 100%;
      text-align: left;
    }
  
    .botones {
      flex-direction: column;
    }
  }